/* WIDTH <= 1024px */
@media (max-width: 64em) and (orientation: portrait) {
  body, .main, .footer, .copyright-container {flex-direction: column;}
  body {display: flex; overflow-y: scroll; scroll-snap-type: none;}

  .navigation-content {column-gap: 3.25rem;}
  .header {
    padding-block: 1.5rem;
    position: fixed;
    top: 0;
    transition-duration: 0.5s;
    z-index: 2;
  }

  .home-section, .logo-container, .navigation, .home-container, .home-description, .projects-button,
    .about-section, .about-description, .about-background, .projects-section, .projects-element,
    .footer, .contact-content, .contact-title {position: static;}

  .home-description h1:nth-of-type(2) {margin-block: 4.25rem;}
  .home-description h1:nth-of-type(3) {margin-bottom: 1.5rem;}
  .avatar-container {bottom: 11.25rem; right: 0;}

  .about-section, .projects-section, .footer, #open-navigation-button, #close-navigation-button {border: none;}
  .about-section, .projects-section, .footer {height: auto; padding-block: 7rem; width: auto;}
  .about-description {line-height: 1.739rem;}
  .about-description p {margin-top: 0.625rem;}
  .about-background {margin-top: 1rem;}
  .home-button, #open-navigation-button, #close-navigation-button {transform: rotateZ(90deg);}
  .home-button {bottom: 2rem; right: 1.5rem;}

  .projects-title {margin-bottom: 1.827rem;}
  .projects-content {gap: 1.125rem 2.875rem;}
  .projects-element, .projects-element-content, .projects-banner {width: 21.063rem;}
  .projects-element {row-gap: 0.625rem;}

  .footer {background-image: url(/assets/mobile_assets/contact-banner.png); background-size: 96rem 54.25rem;}
  .contact-banner {display: none;}
  .contact-content {padding-top: 9.25rem;}
  .contact-navigation {gap: 2.375rem; margin-top: 2.875rem;}
  .copyright-container {position: relative;top: 15rem;}
  .contact-nav-menu-link {padding-block: 0.5rem;}
  .signature {margin-block: 1.25rem;}
}

/* WIDTH <= 884px */
@media (max-width: 55.25em) and (orientation: portrait) {
  :root { --fs-x-large: 9.72851vw; /* 86px */ }
  .main, .home-container, .footer {padding-inline: 5.125rem;}
  .home-container,.about-description,.projects-element,.projects-element-content,.projects-banner {width: 100%;}
  .home-container {justify-content: space-between;}
  .home-description {letter-spacing: -0.6vw;}

  .about-description {hyphens: auto;}

  .projects-section {padding-bottom: 0.25rem;}
  .projects-content {grid-template-columns: repeat(2, 46.805%);}
  
  .footer {aspect-ratio: 2 / 1.955; background-size: cover;}
  .copyright-container {top: 10rem;}
  .contact-nav-menu-link {width: 25.75vw;}
}

/* WIDTH <= 834px */
@media (max-width: 52.125em) and (orientation: portrait) {
  .header {padding-inline: 1.75rem;}
  .logo {width: 2.5rem;}
  .navigation, #close-navigation-button {position: absolute;}
  .navigation, #open-navigation-button, #close-navigation-button {background: transparent;}
  .navigation, .navigation-content, .navigation-aside {height: 100vh;}
  .navigation {
    column-gap: 0;
    display: grid;
    grid-template-columns: 48.5% 52.5%;
    left: 100vw;
    top: 6rem;
    transition-duration: 0.35s;
    width: 100vw;
    z-index: 1;
  }
  
  .navigation-content {background-color: var(--blue-300); flex-direction: column; row-gap: 7.5rem;}
  .navigation-content li::marker {color: transparent;}
  #close-navigation-button {right: 2rem; top: 2rem;}
  #open-navigation-button {margin-bottom: 0.125rem;}
  #open-navigation-button, #close-navigation-button {
    display: block;
    font-family: sans-serif;
    font-size: 2.125rem;
    outline: none;
  }

  .resume-button {
    margin-left: 0;
    padding-block: 0.875rem;
    padding-inline: 1.25rem;
  }

  .home-description h1:nth-of-type(2) {margin-block: 3.625rem;}
  .home-description h1:nth-of-type(3) {margin-bottom: 0.98rem;}
  .avatar-container {bottom: 10.25rem;}

  .about-section, .projects-section, .footer {padding-block: 6.25rem;}
  .about-description {letter-spacing: 0.08rem; line-height: 1.675rem;}
  .about-background {margin-top: 0.9375rem; width: 15rem;}
  .home-button {bottom: 1.5rem; right: 1.25rem;}

  .projects-section {padding-bottom: 0;}
  .projects-content {gap: 0.875rem 2.625rem;}

  .footer {aspect-ratio: 2 / 1.93;}
  .contact-navigation {gap: 2.25rem; margin-top: 2.75rem;}
  .contact-nav-menu-link {padding-block: 0.375rem;}
}

/* WIDTH <= 820px */
@media (max-width: 51.25em) and (orientation: portrait) {
  .home-description {letter-spacing: -0.675vw;}
  .home-description h1:nth-of-type(2) {margin-block: 3.479rem;}
  .home-description h1:nth-of-type(3) {margin-bottom: 0.875rem;}
  .avatar-container {bottom: 10rem;}

  .about-description {letter-spacing: 0.07rem;}
  
  .footer {aspect-ratio: 2 / 1.92;}
}

/* WIDTH <= 810px */
@media (max-width: 50.625em) and (orientation: portrait) {
  .home-description h1:nth-of-type(2) {margin-block: 3.314rem;}
  .avatar-container {bottom: 9.875rem;}

  .about-description {letter-spacing: 0.065rem;}
  
  .footer {aspect-ratio: 2 / 1.915;}
}

/* WIDTH <= 800px */
@media (max-width: 50em) and (orientation: portrait) {
  .navigation {grid-template-columns: 45% 55%;}

  .home-description {letter-spacing: -0.8vw;}
  .home-description h1:nth-of-type(2) {margin-block: 3.15rem;}
  .avatar-container {bottom: 9.75rem;}

  .about-description {letter-spacing: 0.0525rem;}
  
  .projects-section {padding-bottom: 0.125rem;}
  
  .footer {aspect-ratio: 2 / 1.91;}
}

/* WIDTH <= 768px */
@media (max-width: 48em) and (orientation: portrait) {
  .home-description {letter-spacing: -0.95vw;}
  .home-description h1:nth-of-type(2) {margin-block: 2.748rem;}
  .home-description h1:nth-of-type(3) {margin-bottom: 0.6875rem;}
  .avatar-container {bottom: 9.5rem; width: 8.25rem;}

  .about-section, .projects-section, .footer {padding-block: 5.5rem;}
  .avatar-container {bottom: 9.25rem;}
  .about-description p {margin-top: 0.75rem;}
  .about-content {align-items: center;flex-direction: column;}

  .projects-section {padding-bottom: 0;}

  .footer {aspect-ratio: 2 / 1.89;}
  .contact-navigation {gap: 2rem; margin-top: 2.375rem;}
  .contact-nav-menu-link {padding-block: 0.25rem;}
}

/* WIDTH <= 720px */
@media (max-width: 45em) and (orientation: portrait) {
  .navigation {grid-template-columns: 42.5% 57.5%;}

  .main, .home-container, .footer {padding-inline: 4.125rem;}
  .home-description h1:nth-of-type(2) {margin-block: 2.641rem;}
  .home-description h1:nth-of-type(3) {margin-bottom: 0.375rem;}
  .avatar-container {bottom: 8.75rem; width: 8.125rem;}

  .projects-content {gap: 0.75rem 2.5rem;}

  .footer {aspect-ratio: 2 / 1.965;}
  .contact-nav-menu-link {width: 26.125vw;}
}

/* WIDTH <= 668px */
@media (max-width: 41.75em) and (orientation: portrait) {
  .fs-medium {letter-spacing: 0.04rem;}

  .navigation-content {row-gap: 6.5rem;}

  .home-description h1:nth-of-type(2) {margin-block: 1.847rem;}
  .home-description h1:nth-of-type(3) {margin-bottom: 0.125rem;}
  .avatar-container {bottom: 7.75rem; width: 7.75rem;}

  .projects-section {padding-bottom: 0.5rem;}
  .projects-element {row-gap: 0.5rem;}

  .footer {aspect-ratio: 2 / 1.92;}
  .contact-navigation {gap: 1.75rem; margin-top: 2.25rem;}
}

/* WIDTH <= 602px */
@media (max-width: 37.625em) and (orientation: portrait) {
  :root { --fs-x-large: 12.45847vw; /* 75px */ }

  .navigation {grid-template-columns: 40% 60%;}
  .navigation-content {row-gap: 6rem;}

  .main, .home-container, .footer {padding-inline: 3.5rem;}
  .home-container {display: grid; justify-content: center;}
  .home-description {letter-spacing: -0.925vw;}
  .home-description h1:nth-of-type(3) {margin-bottom: 2.16rem;}
  .avatar-container {
    bottom: 0;
    margin-bottom: 1rem;
    margin-inline: auto;
    order: -1;
    position: static;
    top: 0;
    width: 8.75rem;
  }

  .projects-button {
    display: block;
    line-height: 3.25rem;
    margin-inline: auto;
    padding-block: 0;
    width: fit-content;
  }

  .projects-content {gap: 0.625rem 2.375rem;}
  .projects-element {row-gap: 0.5rem;}

  .footer {aspect-ratio: 2 / 1.95;}
  .contact-navigation {gap: 1.5rem; margin-top: 2rem;}
  .contact-nav-menu-link {padding-block: 0.25rem;}
}

/* WIDTH <= 540px */
@media (max-width: 33.75em) and (orientation: portrait) {
  .header {padding-block: 1.125rem; padding-inline: 1.375rem;}
  .navigation {grid-template-columns: 37.5% 62.5%;}
  .navigation-content {row-gap: 5rem;}

  .home-description {letter-spacing: -1.325vw;}
  .avatar-container {margin-bottom: 0;}

  .about-description {letter-spacing: 0.05rem;}
  #brands {letter-spacing: 0.015rem;}

  .projects-content {gap: 0; grid-template-columns: auto; row-gap: 2rem;}
  .projects-element {row-gap: 0.75rem;}

  .footer {background: none;}
  .contact-navigation {gap: 2.25rem; margin-top: 2.75rem;}
  .contact-nav-menu-link {
    border-color: var(--grey-300);
    color: var(--grey-300);
    padding-block: 0.375rem;
    width: 32vw;
  }
}

/* WIDTH <= 440px */
@media (max-width: 27.5em) and (orientation: portrait) {
  :root { --fs-x-large: 12.95455vw; /* 57px */ }
  body, .projects-button {letter-spacing: 0.04rem;}

  .header {padding: 1rem;}
  .navigation {grid-template-columns: 27.5% 72.5%;}
  .navigation-content {row-gap: 5rem;}
  #close-navigation-button {right: 1rem; top: 1rem;}

  .main, .home-container, .footer {padding-inline: 1.75rem;}
  .home-description {letter-spacing: -0.65vw;}
  .projects-button {line-height: 3rem; padding-inline: 1.125rem;}

  .about-section, .projects-section, .footer {padding-block: 4.25rem;}
  .about-description {letter-spacing: 0.045rem;}
  .about-background {margin-top: 1.25rem;}
  .home-button:hover {background-color: transparent; color: var(--green-300);}
  .home-button {
    background-color: var(--green-300);
    bottom: 1.25rem;
    color: var(--black);
    right: 1rem;
  }
  
  .projects-section, .footer {padding-bottom: 0;}
  
  .contact-content {padding-top: 7.75rem;}
  .contact-navigation {gap: 1.75rem; margin-top: 2.5rem;}
  .contact-nav-menu-link {letter-spacing: 0; width: 36vw;}
}

/* WIDTH <= 428px */
@media (max-width: 26.75em) and (orientation: portrait) {
  .home-description h1:nth-of-type(2) {margin-block: 1.25rem;}
  .home-description h1:nth-of-type(3) {margin-bottom: 1.875rem;}

  .about-description {letter-spacing: 0.03rem;}

  .contact-nav-menu-link {padding-inline: 0.5rem;}
}

/* WIDTH <= 412px */
@media (max-width: 25.75em) and (orientation: portrait) {.home-description {letter-spacing: -0.7vw;}}

/* WIDTH <= 393px */
@media (max-width: 24.57em) and (orientation: portrait) {
  .home-description {letter-spacing: -0.8vw;}
  .about-description {letter-spacing: 0.025rem;}
}

/* WIDTH <= 360px */
@media (max-width: 22.5em) and (orientation: portrait) {
  :root { --fs-large: 1.5rem; /* 24px */ }
  
  body {font-size: 0.875rem;  /* 14px */ }

  .home-description {letter-spacing: -0.95vw;}
  .home-description h1:nth-of-type(2) {margin-block: 0.75rem;}
  .home-description h1:nth-of-type(3) {margin-bottom: 1.75rem;}

  .projects-content {row-gap: 1.625rem;}

  .contact-navigation {gap: 1.5rem; margin-top: 2.25rem;}
  .contact-nav-menu-link {padding-inline: 0.375rem; width: 37vw;}
}

/* WIDTH <= 320px */
@media (max-width: 20em) and (orientation: portrait) {
  .header {padding: 0.75rem;}
  .navigation {grid-template-columns: 0% 100%;}
  .navigation-content {row-gap: 3.5rem;}
  
  .avatar-container {width: 7.75rem;}

  .about-background {width: 13.5rem;}

  .projects-content {row-gap: 1.375rem;}

  .contact-navigation {gap: 1.5rem; margin-top: 2rem;}
}

/* HEIGHT SETTINGS */
@media (max-height: 40.625em) and (orientation: portrait) {
  .home-description {line-height: 4.5rem;}
  .home-description h1:nth-of-type(2) {margin-block: 0;}
  .home-description h1:nth-of-type(3) {margin-bottom: 0.75rem;}
  .avatar-container {margin-bottom: 0;}
}

@media (max-height: 33.5em) and (orientation: portrait) {.avatar-container {display: none;}}

/* PERMANENT UTILITIES */
.blurred {filter: blur(0.5rem);}
.hidden-element {display: none;}
.hide-home-header {top: -6rem;}
.show-nav-menu {left: 0;}